* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* variable color  */
  :root {
    --body-bg: #1e1e1e;
    --logo: #fd6f00;
    --white: #fff;
    --white-half: rgba(255, 255, 255, 0.5);
  }
  body {
    background-color: var(--body-bg);
  }
  header {
    width: 80%;
    margin: 3rem auto 0 auto;
  }
  /* navigation bar Style Start */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    color: var(--logo);
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .nav-bar ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 21px;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
  }
  .nav-item {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: var(--logo);
  }
  /* navigation bar Style End */

  /* my-self-section Style Start */
.my-self-section {
    margin-top: 4rem;
    
  }
  .my-self h1 {
    color: var(--white);
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .my-self h1 img {
    width: 34px;
    height: 34px;
  }
  .my-self h1 span {
    color: var(--logo);
  }
  .my-self p {
    margin-top: 10px;
    color: var(--white-half);
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .star-design {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
  .star-design p {
    color: var(--white);
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 400;
  }
  .btn {
    display: flex;
    background-color: #343434;
    margin-top: 2rem;
    padding: 5px;
    border: 2px solid var(--white-half);
    border-radius: 60px;
    display: inline-block;
  }
  .btn-1 {
    border: none;
    padding: 15px 35px;
    border-radius: 60px;
    background-color: var(--logo);
    font-family: "Rubik", sans-serif;
    color: var(--white);
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
  }
  .btn-2 {
    border: none;
    font-family: "Rubik", sans-serif;
    color: var(--white);
    font-size: 25px;
    font-weight: 400;
    background: none;
    padding-right: 20px;
    margin-left: 15px;
    cursor: pointer;
  }
  .icon-control {
    width: 20px;
    height: 17px;
    color: var(--white);
  }
  .social-icon {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .fa-brands {
    color: var(--white-half);
  }

  .long-banner {
    display: inline-flex;
    gap: 30px;
    margin-top: 40px;
    background-color: black;
    /* height: 55px; */
    padding: 42px 0px 42px 41px;
    transform: rotate(-3.969deg);
    /* position: absolute; */
    align-items: center;
    justify-content: flex-end;
    
    
}

.long-banner p{
    color: var(--white, #FFF);
    font-family: Rubik;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.60px;

}
  /* my-self-section Style End */

  /* about section Style Start*/
.about-section {
    margin-top: 5rem;
 
  }
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-1 h1 {
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: var(--white);
    margin-bottom: 1rem;
  }
  .container-1 p {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--white-half);
  }
  .container-2 h1 {
    font-family: "Rubik", sans-serif;
    font-size: 47px;
    font-weight: 700;
    color: var(--white);
  }
  .container-2 p {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
  }
  .container-2 img {
    margin-bottom: 1rem;
  }
  /* about section Style End*/

  /* full width section Style Start */
.full-container {
  width: 90vw;
  background-image: linear-gradient(to right, #2d2531, #342d22);
  margin-top: 3rem;
}
.half-container {
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}
.half-item-1 h3 {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}
.half-item-1 h1 {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.half-item-1 p {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.half-item-2 h3 {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}
.half-item-2 p {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}
.half-item-2 h2 {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 32px;
  font-weight: 700;
}

.same-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15rem;
  margin-bottom: 8px;
  margin-top: 1.5rem;
}
.three-container {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--white);
}
  /* full width section Style End */

  




  