* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* variable color  */
  :root {
    --body-bg: #1e1e1e;
    --logo: #fd6f00;
    --white: #fff;
    --white-half: rgba(255, 255, 255, 0.5);
  }
  body {
    background-color: var(--body-bg);
  }
  header {
    width: 80%;
    margin: 3rem auto 0 auto;
  }
  /* navigation bar Style Start */
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    color: var(--logo);
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  .nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .nav-bar ul li a {
    text-decoration: none;
    color: var(--white);
    font-size: 21px;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
  }
  .nav-item {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: var(--logo);
  }
  /* navigation bar Style End */

  /* my-self-section Style Start */
.my-self-section {
    margin-top: 4rem;
    
  }
  .my-self h1 {
    color: var(--white);
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .my-self h1 img {
    width: 34px;
    height: 34px;
  }
  .my-self h1 span {
    color: var(--logo);
  }
  .my-self p {
    margin-top: 10px;
    color: var(--white-half);
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .star-design {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
  .star-design p {
    color: var(--white);
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    font-weight: 400;
  }
  .btn {
    display: flex;
    background-color: #343434;
    margin-top: 2rem;
    padding: 5px;
    border: 2px solid var(--white-half);
    border-radius: 60px;
    display: inline-block;
  }
  .btn-1 {
    border: none;
    padding: 15px 35px;
    border-radius: 60px;
    background-color: var(--logo);
    font-family: "Rubik", sans-serif;
    color: var(--white);
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
  }
  .btn-2 {
    border: none;
    font-family: "Rubik", sans-serif;
    color: var(--white);
    font-size: 25px;
    font-weight: 400;
    background: none;
    padding-right: 20px;
    margin-left: 15px;
    cursor: pointer;
  }
  .icon-control {
    width: 20px;
    height: 17px;
    color: var(--white);
  }
  .social-icon {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .fa-brands {
    color: var(--white-half);
  }

  .long-banner {
    display: inline-flex;
    gap: 30px;
    margin-top: 40px;
    background-color: black;
    /* height: 55px; */
    padding: 42px 0px 42px 41px;
    transform: rotate(-3.969deg);
    /* position: absolute; */
    align-items: center;
    justify-content: flex-end;
    
    
}

.long-banner p{
    color: var(--white, #FFF);
    font-family: Rubik;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.60px;

}
  /* my-self-section Style End */

  /* about section Style Start*/
.about-section {
    margin-top: 5rem;
 
  }
  .about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container-1 h1 {
    font-family: "Rubik", sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: var(--white);
    margin-bottom: 1rem;
  }
  .container-1 p {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--white-half);
  }
  .container-2 h1 {
    font-family: "Rubik", sans-serif;
    font-size: 47px;
    font-weight: 700;
    color: var(--white);
  }
  .container-2 p {
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--white);
  }
  .container-2 img {
    margin-bottom: 1rem;
  }
  /* about section Style End*/

  /* full width section Style Start */
.full-container {
  width: 90vw;
  background-image: linear-gradient(to right, #2d2531, #342d22);
  margin-top: 3rem;
}
.half-container {
  width: 80%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}
.half-item-1 h3 {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}
.half-item-1 h1 {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.half-item-1 p {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.half-item-2 h3 {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}
.half-item-2 p {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}
.half-item-2 h2 {
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 32px;
  font-weight: 700;
}

.same-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15rem;
  margin-bottom: 8px;
  margin-top: 1.5rem;
}
.three-container {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--white);
}
  /* full width section Style End */

  /* main section Style start  */

main{
  width: 80%;
  margin: 0 auto 0 auto;
}
/* awards section Style Start */
.award-section{
  margin-top: 5rem;
}
.award-section h1{
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 1.2rem;
}
.award-section #text{
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: var(--white-half);
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 1rem;
}
.awards-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.award-number{
  padding: 2rem;
  width: 100%;
  background-color: #000;
}
.award-part{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.awards-container h2{
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 24px;
  font-weight: 400;
}
.awards-container h3{
  font-family: "Rubik", sans-serif;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
}
.awards-container p{
  font-family: "Rubik", sans-serif;
  color: var(--white-half);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-left: auto;
}
/* awards section Style End */

/* portfolio section Style Start */
.portfolio-section{
  margin-top: 7rem;
}
.portfolio-section #mks{
font-size: 40px;
font-weight: 800;
letter-spacing: -1.5%;
color: var(--white);
text-align: center;
margin-bottom: 1.2rem;
}
.portfolio-section #man{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3%;
  color: var(--white-half);
  text-align: center;
  
}
.portfolio-section ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
 

}
.portfolio-section ul li{
  padding: 8px 30px;
  background-color: #000;
  margin: 4rem 0;
}
.portfolio-section ul li a{
  text-decoration: none;
  color: var(--white);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;

}
.portfolio-section .different{
  background-color: var(--logo);
}
.port-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.port-flex-1{
  padding: 0 2rem;
  background-color: #000;
  width: 450px;
  position: relative;
  text-align: right;
}
.port-flex-1 .pos-2{
  position: absolute;
  right: 130px;
  top: 70px;
}
.port-flex-2 h3{
font-size: 18px;
font-weight: 600;
font-style: italic;
color: var(--white);
margin-bottom: 12px;
}
.port-flex-2 h1{
  font-size: 40px;
font-weight: 700;
color: var(--white);
margin-bottom: 1rem;
}
.port-flex-2{
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  line-height: 22px;
  letter-spacing: 3%;
  color: var(--white-half);
}
/* portfolio section Style End */

/* contact-section Style Start */ 
.contact-section{
  margin-bottom: 5rem;
}
.contact-section #rs{
font-size: 18px;
font-weight: 600;
font-style: italic;
color: var(--white);
text-align: center;
margin-bottom: 1rem;
}
.contact-section #ps{
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
  text-align: center;
  margin-bottom: 2rem;
}
.form{
  padding: 3rem 4rem;
  background-color: #34261B;
}
.form h1{
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 3rem; 
}
/* contact-section Style End */ 

/* Footer section Style Start */
footer{
  width: 80%;
  margin: 0 auto 0 auto;
}
.section-one{
background-color: #000;
padding: 3rem 0;
}
.section-one h1{
  font-family: "Poppins", sans-serif;
font-size: 64px;
font-weight: 700;
text-align: center;
color: var(--logo);
letter-spacing: 3%;
margin-top: 5rem;
}
.section-one ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 2rem;
}
.section-one ul li a{
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 3%;
  color: var(--white);
}
.social-icons {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.fa-brands {
  color: var(--white);
  cursor: pointer;
}
.section-two{
  padding: 20px 0;
  background-color: #121212;
}
.section-two p{
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: var(--white);
  letter-spacing: 3%;
  text-align: center;
}
.section-two p span{
  color: var(--logo);
}
/* responsive css */
@media only screen and (max-width: 700px){
.nav-bar{
  flex-direction: column;
  text-align: center;
}
.nav-bar ul{
  flex-direction: column;
  text-align: center;
}
.banner{
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.about-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.half-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
/* Footer section Style End */